* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($property: all, $duration: 0.5s, $timing: ease-in-out) {
    transition: $property $duration $timing;
}

body {
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.369);
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    @include flex-center();
    flex-direction: column;
    padding: 10px;
}

label {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 500;
}

input {
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    transition: 0.5s ease-in-out;
    outline: 1px solid rgba(132, 124, 124, 0.785);
    margin: 30px 0;
    
    &:hover {
        transform: translateY(-4px);
        transition: 0.5s ease-in-out;
    }
}

button {
    width: 150px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    background-color: hsla(0, 2%, 40%, 0.59);
    transition: .5s ease-in-out;

    &:hover {
        background-color: hsla(0, 2%, 35%, 0.59);
        transform: scale(1.04);
        transition: 0.5s ease-in-out;
    }
}

#reset {
    position: absolute;
    top: 50px;
}

#result {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.605);
    text-transform: uppercase;
    text-align: center;
}